body {
  box-sizing: border-box;
  /* max-width: 800px; */
  margin: 0;
  padding: 0;
  display: block;
}

li,
a {
  font-weight: 600;
  font-size: large;
  color: white;
  text-decoration: none;
  display: block;
}
header {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: aliceblue;
  background-color: rgb(20, 22, 51);
  position: fixed;
  overflow: hidden;
  width: 100%;
}
/* .navBar{
    background-color: rgb(11, 11, 36);
} */
.navItems {
  list-style: none;
}
.navItems li {
  padding: 0px 20px;
  display: inline-block;
}
.navItems li a:hover {
  color: rgb(236, 105, 105);
}
.cover {
  float: right;
  padding-top: 50px;
}
.intro {
  font-weight: 700;
  padding: 250px 50px;
  margin: 0;
}
.about-me-picture {
  width: 50%;
  border-radius: 20px;
  padding-left: 60px ; 
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-style:solid ; */
}
.aboutMe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}
.content {
  font-size: x-large;
  padding-right: 100px;
}

.sub-title {
  background-color: rgb(236, 247, 247);
 
}
.entry {
  background-color: rgb(236, 247, 247);
  padding-top: 100px;
  
}

.section-heading {
  text-align: center;
  margin: 0;
}
.Portfolio{
  background-color: rgb(13, 216, 216);
  padding: 50px;
}

.portfolio-items {
  width: 20%;
  padding-top: 50px;
}

.portfolio-pieces {
  display: flex;
  justify-content: space-evenly;
}

.contact-content a{
  color: rgb(20, 22, 55);
  text-align: center;
}
.contact-content h1{
  text-align: center;
}

.logos{
  width: 20px;
  padding-left: 10px;
}
.contact-content a:hover{
  color:rgb(236, 105, 105)
}
.contact-section{
  padding: 50px;
}

